<ion-view title="{{viewTitle}}">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list>
		<ion-item ng-repeat="thing in things.open"
			ng-click="gotToThing(thing)">
			{{thing.title}}
			<ion-option-button class="button-positive" ng-click="doRemoveThing(thing);">Remove</ion-option-button>
		</ion-item>
<!--		<div class="button action" ng-click="addThing()"><i class="ion-plus"></i>List item</div>-->
		
		<ptl-new></ptl-new>
    </ion-list>
  </ion-content>
</ion-view>