<ion-view title="{{viewTitle}}">
	<ion-content class="has-header">
		<ion-list>
			<ion-item ng-repeat="thing in things.open"
				ng-click="toggleCompleted(thing)">
				<i class="ion-android-checkmark"></i>
				{{thing.title}}
				<ion-option-button class="button-positive" ng-click="doRemoveThing(thing)">Remove</ion-option-button>
			</ion-item>
<!--			<div class="button action" ng-click="addThing()"><i class="ion-plus"></i>List item</div>-->
			<ptl-new></ptl-new>
		</ion-list>
		
		<ion-list ng-if=things.checked>
			<div class="title" ng-if=things.checked><i class="ion-chevron-down"></i>Checked</div>
			<ion-item ng-repeat="thing in things.checked"
				ng-class="{'strike': thing.checked}"
				ng-click="toggleCompleted(thing)">
				<i class="ion-android-checkmark"></i>
				{{thing.title}}
				<ion-option-button class="button-positive" ng-click="doRemoveThing(thing)">Remove</ion-option-button>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>