$green: rgba(0, 190, 0, 1);
$gray: rgba(160, 160, 160, 1);
$lightGray: rgba(224, 224, 224, 1);

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}

ion-content {
	ion-list:first-child {
		.list {
			margin-top: 30px;
			border-top: none;
		}
	}
}

ion-list {
	.title {
		margin: 8px 0;
		color: $gray;
		font-style: italic;
		i {
			padding-right: 38px;
		}
	}
	
	.item-input {
		border-width: 0px;
		padding: 0px;
		
		color: $gray;
		font-size: 16px;
		
		i {
			padding-right: 38px;
		}
		
		input {
			font-size: 16px;
			
			@include placeholder {
				font-style:italic;
				color: $gray;
				font-weight:100;
            }
            
		}
	}
	
	.button.action {
		margin: 8px 0;
		color: $gray;
		font-size: 16px;
		border: none;
		background-color: initial;
		position: relative;
		display: inline-block;
		margin: 0;
		padding: 0;
		vertical-align: top;
		text-align: center;
		text-overflow: ellipsis;
		font-size: 16px;
		line-height: 42px;
		cursor: pointer;
		
		&.activated {
			border-color: none;
			background-color: initial;
			box-shadow: none;
			top: 2px;
		}
		
		i {
			padding-right: 38px;
		}
		
		&:last-child {
			margin-bottom: 16px;
		}
	}
}

ion-list {
	.list {
		margin: 0 32px;
		&:last-child {
			border-top: 1px solid $lightGray;
		}
	}
}
.item-complex .item-content, .item-content {
	padding: 8px 33px 8px 0px;
}

.item.active, .item.activated, .item-complex.active .item-content, .item-complex.activated .item-content, .item .item-content.active, .item .item-content.activated {
	border-color: $green;
	background-color: #ffffff;
}

ion-item {
	i {
		padding-right: 30px;
		color: $lightGray;
	}
	&.item {
//		border: none;
		border-color: transparent;
		margin-left: -16px;
		margin-right: -16px;
		padding-left: 16px;
		padding-right: 16px;
		
		&.activated {
			border-width: 1px;
			border-style: solid;
		}
	}
	
	&.first-of-type {
		margin-top: 54px;
		border-top: 2px solid lighten($dark, 40%);
	}
	
	&.strike {
		.item-content {
			text-decoration: line-through !important;
			color: $lightGray;
			i {
				color: $green;
			}
		}
	}
	
}

.item {
	border-width: 1px;
	margin: 0;
}

.modal {
	.item {
		margin: -1px;
	}
}