<div class="modal">
  <ion-header-bar>
    <h1 class="title">List item</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeAddThing()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doAddThing(thing)">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Name</span>
          <input type="text" ng-model="thing.title" autofocus required>
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Add</button>
        </label>
      </div>
    </form>
  </ion-content>
</div>